<!DOCTYPE html>
<html>

	<link rel="stylesheet" href="../static/style.css" type="text/css">

	<img src = "https://i.imgur.com/583aluW.png" width="500" height="500">

	<head>
		<title>Musique</title>
	</head>

	<body>
		<h1></h1>
		<label for="photo"><font size="+1">Choose an image to vocalize:</font></label>
    	<form action="convert" method="post" enctype="multipart/form-data"> 
            <input type="file" name="img" accept="image/*">
            <input type="submit" value="Upload Image" name="submit">
        </form> 
	</body>

</html>