<!DOCTYPE html>
<html>

	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="icon" type="image/x-icon" href="logo/musique.png">

	<img src = "https://i.imgur.com/583aluW.png" width="500" height="500">

	<head>
		<title>Musique</title>
	</head>

	<body>
		<h1></h1>
		<label for="photo">Choose an image to vocalize:</label>
    	<form action="convert" method="post" enctype="multipart/form-data"> 
            <input type="file" name="image" accept="image/*">
            <input type="submit" value="Vocalize!" name="submit">
        </form>

	</body>

</html>